name: Keep versions up to date

on:
  workflow_call:

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: Actions-R-Us/actions-tagger@v2
        with:
          publish_latest_tag: true